:root {
  --color-danger: red;
  --color-border: #ddd;
  --color-bg-light: #f9f9f9;
  --color-bg-head: #f2f2f2;
  --color-bg-users-modal: rgba(0, 0, 0, 0.4);
  --color-bg-users-modal-content: #fff;
  --color-users-loading: #666;
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;

  --radius-sm: 4px;
  --radius-md: 6px;

  --font-main: Arial, sans-serif;
}